<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
	<link rel="stylesheet" href="../styles/index.css">
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">  
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>   
	<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>	
	<div class="page">
		<!-- Header -->
		<header class="site_header">
			<div class="header-content">
				<div class="container-fluid"> 
					<div class="site-title">Julie<span>Yang</span></div>							
				    <!-- Navigation -->
				    <div class="site-nav">
						<!-- Main menu -->
						<ul class="site-main-menu">
							<li><a class="pt-trigger" href="home.html">Home</a></li>
							<li><a class="pt-trigger" href="resume.html">Resume</a></li>
							<li><a class="pt-trigger" href="contact.html">Contact</a></li>
						</ul>
						<!-- /Main menu -->
					</div>
					<!-- Navigation -->
			    </div>
		    </div>	
		</header>
		<!-- /Header -->
		<!-- Contact -->
		<div>
			<section class="page-content">
				<div class="section-inner">
					<div class="page-header color-1">
						<h2 class="header-resume">Contact</h2>
					</div>
					<div class="page-content">
						<div class="row">
							<div class="col-sm-6 col-md-6 col-lg-6">
								<h3>Get in Touch</h3>								
								<div id="map" class="map" style="position: relative; overflow: hidden;">
								<iframe src="https://www.google.com/maps" frameborder="0"></iframe>
								</div>
									<!--contact info-->
									<div class="contact-info">
										<div class="ci-icon">
											<i class="fa fa-map-marker" aria-hidden="true"></i>
										</div>
										<p class="contact-text">Brisbane, Australia</p>
										<div class="ci-icon">
											<i class="fa fa-envelope" aria-hidden="true"></i>
										</div>
										<p class="contact-text">weiguiyun.yang@gmail.com</p>
										<div class="ci-icon">
											<i class="fa fa-phone" aria-hidden="true"></i>
										</div>
										<p class="contact-text">0420778989</p>
										<div class="ci-icon">
											<i class="fa fa-check" aria-hidden="true"></i>
										</div>
										<p class="contact-text">Reference Available Upon Request</p>
									</div>
									<!--/contact info-->
							    </div>
							<div class="col-sm-6 col-md-6 col-lg-6">
								<h3>Contact form</h3>
							</div>
						</div>



					</div>
				</div>
			</section>
		</div>
        <!-- /Contact -->
    <footer>
        <div class="copyrights">
            "© 2018 All rights reserved. Designed by "
            <a href="weiguiyun.yang@gmail.com">YWGY</a>
        </div>
        <div class="copyrights">
            <a href="Mailto:weiguiyun.yang@gmail.com?CC=weiguiyun.yang@gmail.com&BCCweiguiyun.yang@gmail.com&Subject=Hello&Body=Hello">Send Me Email</a>
        </div>
        <div></div>
    </footer>	
</body>
