<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
	<link rel="stylesheet" href="../styles/index.css">
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">  
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>   
	<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>	
	<div class="page">
		<!-- Header -->
		<header class="site_header">
			<div class="header-content">
				<div class="container-fluid"> 
					<div class="site-title">Julie<span>Yang</span></div>							
				    <!-- Navigation -->
				    <div class="site-nav">
						<!-- Main menu -->
						<ul class="site-main-menu">
								<li><a class="pt-trigger" href="home.html">Home</a></li>
								<li><a class="pt-trigger" href="resume.html">Resume</a></li>
								<li><a class="pt-trigger" href="contact.html">Contact</a></li>
						</ul>
						<!-- /Main menu -->
					</div>
					<!-- Navigation -->
			    </div>
		    </div>	
		</header>
		<!-- /Header -->
		<!-- Home Subpage -->
		<section class="page-content">
			<div class="section-inner">
				<div class="page-header text-center">
					<div class="row">
						<div class="col-sm-4 col-md-4 col-lg-4">
							<div class="photo">
								<img src="../assets/iconfinder_website_-_female_user_3440833.png" alt="">
							</div>
						</div>

						<div class="col-sm-8 col-md-8 col-lg-8">
							<div class="title-block">
								<h1 style=>Julie Yang</h1>
								<div class="owl-carousel text-rotation">
									<div class="item">
										<div class="sp-subtitle">Web Designer</div>
									</div>
									<div class="item">
										<div class="sp-subtitle">Frontend-developer</div>
									</div>
								</div>
							</div>

							<div class="social-links">
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
							</div>
						</div>
					</div>
				</div>

				<div class="page-content">
					<div class="row">
						<div class="col-sm-6 col-md-6 col-lg-6 text-left">
							<div class="about-me">
								<div class="block-title">
									<h2>About <span>Me</span></h2>
								</div>
								<p>
									Hello! I’m Julie Yang. As an experienced full-stack developer, 
									I have professional skills in front-end and back-end development.
									I also have practical knowledge of web solution architecture, development technologies and tools.
								</p>
							</div>
						</div>

						<div class="col-sm-6 col-md-6 col-lg-6 text-right">
					
							<ul class="info-list">
								<li>
									<span class="title">Age &nbsp;</span>
									<span class="value">18</span>
								</li>
								<li>
									<span class="title">Residence &nbsp;</span>
									<span class="value">Australia</span>
								</li>
								<li>
									<span class="title">Address &nbsp;</span>
									<span class="value">Brisbane</span>
								</li>
								<li>
									<span class="title">E-mail &nbsp;</span>
									<span class="value">
										<a href="weiguiyun.yang@gmail.com">weiguiyun.yang@gmail.com</a>
									</span>
								</li>
								<li>
									<span class="title">Phone &nbsp;</span>
									<span class="value">0420778989</span>
								</li>
							
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Home Subpage -->
		<footer>
			<div class="copyrights">
				"© 2018 All rights reserved. Designed by "
				<a href="https://www.linkedin.com/in/julie-yang-brisbane/">Weiguiyun Yang</a>
			</div>
			<div class="copyrights">
				<a href="Mailto:weiguiyun.yang@gmail.com?CC=weiguiyun.yang@gmail.com&BCCweiguiyun.yang@gmail.com&Subject=Hello&Body=Hello">Send Me Email</a>
			</div>
			<div></div>
		</footer>	
    </body>
