<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
	<link rel="stylesheet" href="../styles/index.css">
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">  
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>   
	<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>	
	<div class="page">
		<!-- Header -->
		<header class="site_header">
			<div class="header-content">
				<div class="container-fluid"> 
					<div class="site-title">Julie<span>Yang</span></div>							
				    <!-- Navigation -->
				    <div class="site-nav">
						<!-- Main menu -->
						<ul class="site-main-menu">
							<li><a class="pt-trigger" href="home.html">Home</a></li>
							<li><a class="pt-trigger" href="resume.html">Resume</a></li>
							<li><a class="pt-trigger" href="contact.html">Contact</a></li>
						</ul>
						<!-- /Main menu -->
					</div>
					<!-- Navigation -->
			    </div>
		    </div>	
		</header>
		<!-- /Header -->
		<!-- Resume -->
		<section class="page-content" data-id="#resume">
			<div class="section-inner">
				<div class="page-header color-1">
					<h2 class="header-resume">Resume</h2>
				</div>
				<div class="page-content"> 
					<div class="row">
						<div class="col-sm-6 col-md-6 col-lg-6 ">
							<div class="block">
								<div class="block-title">
									<h3>Education</h3>
								</div>
								<div class="timeline">
									<div class="timeline-item"> 
										<h4 class="item-title">Master of IT</h4>
										<span class="item-period">2017-2019</span>
										<span class="item-small">Queensland University of Technology</span>
									</div>
									<div class="timeline-item">
										<h4 class="item-title">Bachelor of Management</h4>
										<span class="item-period">20111-2016</span>
										<span class="item-small">Guangxi Normal University</span>
										
									</div>
							    </div>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-6 ">
							<div class="block">
								<div class="block-title">
									<h3>Experience</h3>
								</div>
								<div class="timeline">
									<div class="timeline-item"> 
										<h4 class="item-title">Full Stack Developer</h4>
										<span class="item-period">2018</span>
										<span class="item-small">JR solution</span>
										
									</div>
									<div class="timeline-item">
										<h4 class="item-title">Trainee</h4>
										<span class="item-period">2016</span>
										<span class="item-small">JQN Tourism Development Company</span>
									
									</div>
									<div class="timeline-item">
										<h4 class="item-title">Class Teacher</h4>
										<span class="item-period">2015</span>
										<span class="item-small">The Fourth Vocational School</span>
									
									</div>
									</div>
							</div>
						</div>
					</div>
					<div class="row">
						
						<div class="col-sm-6 col-md-6 col-lg-6 text-left">
							<h3>Technical Skills</h3>
							<h4>Design Skills</h4>
							<p>Web Design</p>
							<div class="all-conainer">
							   <div class="skills web-design"></div>
							</div>
							<p>Graphic Design</p>
							<div class="all-conainer">
							   <div class="skills graphic-design"></div>
							</div>
							<p>Print Design</p>
							<div class="all-conainer">
							   <div class="skills print-design"></div>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-6 text-left">
							<h4>Coding Skills</h4>
							<p>JavaScript</p>
							    <div class="all-conainer">
									<div class="skills html5"></div>
								</div>
							<p>Python</p>
							    <div class="all-conainer">
									<div class="skills css3"></div>
								</div>
							<p>C#</p>
							    <div class="all-conainer">
									<div class="skills jQuery"></div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<div>	
			</div>
		</section>
		<!--Resume-->
	<footer>
		<div class="copyrights">
			"© 2018 All rights reserved. Designed by "
			<a href="weiguiyun.yang@gmail.com">YWGY</a>
		</div>
		<div class="copyrights">
			<a href="Mailto:weiguiyun.yang@gmail.com?CC=weiguiyun.yang@gmail.com&BCCweiguiyun.yang@gmail.com&Subject=Hello&Body=Hello">Send Me Email</a>
		</div>
		<div></div>
	</footer>	
</body>
